<?xml version="1.0" encoding="utf-8" ?>
<go-plugin id="GitPathMaterial" version="1">
    <about>
        <name>GitPathMaterial plugin</name>
        <version>0.1</version>
        <target-go-version>15.1.0</target-go-version>
        <description>Plugin that polls a Git repository and triggers pipeline based on the sub-directory</description>
        <vendor>
            <name>ThoughtWorks</name>
            <url>https://github.com/TWChennai/gocd-git-path-material-plugin</url>
        </vendor>
    </about>
</go-plugin>