<div class="form_item_block">
    <label>URL:<span class="asterisk">*</span></label>
    <input type="text" ng-model="url" ng-required="true" tabindex="1"/>
    <span class="form_error" ng-show="GOINPUTNAME[url].$error.server">
        {{ GOINPUTNAME[url].$error.server }}
    </span>
</div>
<div class="form_item_block">
    <label>Username:</label>
    <input type="text" ng-model="username" ng-required="false" tabindex="2"/>
    <span class="form_error" ng-show="GOINPUTNAME[username].$error.server">
        {{ GOINPUTNAME[username].$error.server }}
    </span>
</div>
<div class="form_item_block">
    <label>Password:</label>
    <input type="password" ng-model="password" ng-required="false" tabindex="3"/>
    <span class="form_error" ng-show="GOINPUTNAME[password].$error.server">
        {{ GOINPUTNAME[password].$error.server }}
    </span>
</div>
<div class="form_item_block">
    <label>Path:</label>
    <input type="text" ng-model="path" ng-required="true" tabindex="4"/>
    <span class="form_error" ng-show="GOINPUTNAME[path].$error.server">
        {{ GOINPUTNAME[path].$error.server }}
    </span>
</div>
<div class="form_item_block">
    <label>Branch:</label>
    <input type="text" ng-model="branch" ng-required="false" tabindex="5"/>
    <span class="form_error" ng-show="GOINPUTNAME[branch].$error.server">
        {{ GOINPUTNAME[branch].$error.server }}
    </span>
</div>