<?xml version="1.0" encoding="utf-8"?>
<cruise xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="cruise-config.xsd" schemaVersion="87">
  <server artifactsdir="artifacts" agentAutoRegisterKey="079e578b-87cc-46c9-9ab5-88997fc7ac59" commandRepositoryLocation="default" serverId="c4100666-f490-408b-8161-bbf75f9eb398" />
  <scms>
    <scm id="66458a7e-80f8-4355-bc1a-a41509396ae6" name="action">
      <pluginConfiguration id="GitPathMaterial" version="1" />
      <configuration>
        <property>
          <key>url</key>
          <value>https://github.com/TWChennai/gocd-git-path-sample.git</value>
        </property>
        <property>
          <key>path</key>
          <value>action</value>
        </property>
      </configuration>
    </scm>
    <scm id="00f75478-0176-4070-8cae-d197f846359c" name="animation">
      <pluginConfiguration id="GitPathMaterial" version="1" />
      <configuration>
        <property>
          <key>url</key>
          <value>https://github.com/TWChennai/gocd-git-path-sample.git</value>
        </property>
        <property>
          <key>path</key>
          <value>animation</value>
        </property>
      </configuration>
    </scm>
  </scms>
  <config-repos>
    <config-repo plugin="yaml.config.plugin">
      <git url="https://github.com/TWChennai/gocd-git-path-sample.git" />
    </config-repo>
  </config-repos>
  <pipelines group="movies" />
</cruise>

